PassengerFriendlyErrorPages on
PassengerRuby /home/washingrvingrbenvrails/.rvm/gems/ruby-2.7.1/wrappers/ruby
SetEnv GEM_PATH /home/washingrvingrbenvrails/reader.mmcrockett.com/shared/bundle/ruby/2.7.0
