<div class="container-fluid" ng-controller="EntriesController" ng-init="initialize('<%= type %>', <%= Feed.all.select(:id, :name).to_json %>)">
  <p id="notice" class="notice"><%= notice %></p>
  <p class="alert alert-danger" ng-show="notice">{{notice}}</p>
  <div class="progress" ng-show="loading">
    <p class="progress-bar progress-bar-primary active progress-bar-striped"
       role="progressbar"
                     aria-valuemin="0"
                     aria-valuemax="100"
                     style="width: 100%">
      Loading...
    </p>
  </div>
  <div ng-class="['row', 'entry', {'mikefeed-ui-progressbar-overlay':entry.saving, 'read':entry.read}]" ng-repeat="entry in entries" ng-mousedown="mark_read(entry, $event)">
    <div class="col-xs-1">
      <button type="button" class="no-background btn btn-default btn-xs">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
    </div>
    <a href="{{entry.link}}" target="_blank">
      <div class="col-xs-1 hidden-xs text-right">{{feed_name(entry) | abbreviate}}
        <span class="glyphicon glyphicon-asterisk" style="{{entry.feed_id | distinct_color}}"></span>
      </div>
      <% if ('pods' == type) %>
        <div class="col-xs-1 hidden-xs">{{entry.post_date}}</div>
      <% end %>
      <div class="col-xs-1 hidden-xs text-right">{{entry.data.length}}</div>
      <div class="col-xs-8">{{entry.subject | synopsis:80}}</div>
    </a>
  </div>
  <div class="spacer" ng-repeat="i in [1,2,3]">
  </div>
</div>
