<div class="container-fluid" ng-controller="EntriesController" ng-init="initialize()">
  <p id="notice" class="notice"><%= notice %></p>
  <p class="alert alert-danger" ng-show="notice">{{notice}}</p>
  <div ng-class="['row', 'entry', {'read':entry.read}]" ng-repeat="entry in entries">
    <div class="col-xs-1">
      <button type="button" class="no-background btn btn-default btn-xs" ng-click="mark_read(entry)">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
    </div>
    <a href="{{entry.link}}">
      <div class="col-xs-1 hidden-xs">{{entry.feed_id}}</div>
      <div class="col-xs-1 hidden-xs">{{entry.post_date}}</div>
      <div class="col-xs-9">{{entry.subject | synopsis}}</div>
    </a>
  </div>
</div>
