.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

div.entry a {
  color: black;
}

div.entry:nth-child(odd) {
  background-color: #f9f9f9;;
}

div.entry.read {
  background-color: #ccc;
}

div.entry:hover {
  cursor:pointer;
  background-color: #b6b8db;
}

.mikefeed-ui-progressbar-overlay {
    background: url("http://code.jquery.com/ui/1.10.3/themes/smoothness/images/animated-overlay.gif");
    height: 100%;
    filter: alpha(opacity=25);
    opacity: 0.25;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
