development:
  adapter: redis
  url: <%= ENV.fetch('REDIS_URL') { 'redis://localhost:6379' } %>
  channel_prefix: mike_reader_webpack_devlopment

test:
  adapter: test

staging: &staging
  adapter: redis
  host: <%= ENV.fetch('REDIS_HOST') { '127.0.0.1' }%>
  port: <%= ENV.fetch('REDIS_PORT') { '0000' } %>
  password: <%= Rails.application.credentials.redis_password %>
  channel_prefix: mike_reader_webpack_staging

production:
  <<: *staging
  channel_prefix: mike_reader_webpack_production
